<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Student Evaluation - <%= title %></title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class='mainBody'>
        <h1>Thank you, <%= username %>!</h1>
        <p>
            We appreciate and value your feedback: <%= courseComment %>
        </p>
        <p>
            The instructor for this course (<%= instructor %>) will receive your feedback. Your name will remain
            anonymous.
        </p>
    </div>
</body>
</html>